Repository Mira-Sector/space-station-14, pull requests merged in 2024-11, with the labels that each got.

#118 updated mir evac shuttle 02/11/2024
  Resources/Maps/Shuttles/emergency_mir.yml
Labels: No C#, Changes: Map

#122 feat: add floor mats
  Content.Server/Footprints/Components/RemoveFootprintsComponent.cs
  Content.Server/Footprints/Systems/LeaveFootprintSystem.cs
  Content.Server/Footprints/Systems/RemoveFootprintsSystem.cs
  Resources/Prototypes/Entities/Objects/Decoration/mat.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Textures/Objects/Decoration/mat.rsi/mat.png
  Resources/Textures/Objects/Decoration/mat.rsi/meta.json
  Resources/Textures/Objects/Decoration/mat.rsi/roll.png
Labels: Changes: Sprites

#123 Mir fixes 03/11/2024
  Resources/Changelog/Mira.yml
  Resources/Maps/Shuttles/emergency_mir.yml
  Resources/Maps/mir.yml
Labels: No C#, Changes: Map

#124 Replaced the swabs in the NutriMax 04/11/2024
  Resources/Changelog/Mira.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
Labels: No C#

#125 Mir and shuttle update 06/11/2024
  Resources/Changelog/Mira.yml
  Resources/Maps/Shuttles/emergency_mir.yml
  Resources/Maps/mir.yml
Labels: No C#, Changes: Map

#129 Added back salv spawns to mir 11/11/2024
  Resources/Changelog/Mira.yml
  Resources/Maps/mir.yml
Labels: No C#, Changes: Map

#132 Minor changes to mir 14/11/2024
  Resources/Maps/Shuttles/emergency_mir.yml
  Resources/Maps/mir.yml
Labels: No C#, Changes: Map
