Repository Mira-Sector/space-station-14, pull requests merged in 2024-08, with the labels that each got.

#10 outerclothing and suit storage keybinds
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Interaction/Components/SmartEquipItemSlotComponent.cs
  Content.Shared/Interaction/SmartEquipSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Resources/Changelog/Mira.yml
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_wieldable.yml
  Resources/keybinds.yml
Labels: Changes: UI

#12 Friendly tarantulas box
  Resources/Changelog/Mira.yml
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
Labels: No C#

#14 Friendly tarantulas box fix
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
Labels: No C#

#16 Medchemhud update
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
Labels: No C#

#19 Maps golden toilet onto cluster and saltern
  Resources/Maps/cluster.yml
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#23 Species chat
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorButton.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorPopup.cs
  Content.Server/Chat/Commands/SpeciesCommand.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/ChatChannelExtensions.cs
  Content.Shared/Chat/ChatSelectChannel.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Radio/RadioChannelPrototype.cs
  Content.Shared/SpeciesChat/SpeciesChannelPrototype.cs
  Content.Shared/SpeciesChat/SpeciesLanguagePrototype.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/chat/species.ftl
  Resources/Locale/en-US/chat/ui/chat-box.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/species_channels.yml
  Resources/keybinds.yml
Labels: Changes: UI

#24 Telebaton sprite fix
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Textures/Objects/Weapons/Melee/telebaton.rsi/inhand-left-shield.png
  Resources/Textures/Objects/Weapons/Melee/telebaton.rsi/inhand-right-shield.png
  Resources/Textures/Objects/Weapons/Melee/telebaton.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/telebaton.rsi/telebaton-icon.png
  Resources/Textures/Objects/Weapons/Melee/telebaton.rsi/telebaton-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/telebaton.rsi/telebaton-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/telebaton.rsi/telebaton-on.png
Labels: Changes: Sprites, No C#

#25 Crawling
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/Crawling/Components/CrawlerComponent.cs
  Content.Shared/Crawling/Components/CrawlingComponent.cs
  Content.Shared/Crawling/CrawlingSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Traits/Assorted/LegsParalyzedSystem.cs
  Resources/Changelog/Mira.yml
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Textures/Interface/Alerts/crawling.rsi/icon.png
  Resources/Textures/Interface/Alerts/crawling.rsi/meta.json
  Resources/keybinds.yml
Labels: Changes: Sprites, Changes: UI

#26 RD's experimental research hardsuit update
  Resources/Changelog/Mira.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/meta.json
Labels: Changes: Sprites, No C#

#28 Removes minor meteor dust event
  Resources/Prototypes/GameRules/meteorswarms.yml
Labels: No C#

#31 Less major meteor dust showers (hopefully)
  Resources/Prototypes/GameRules/meteorswarms.yml
Labels: No C#
