Repository Mira-Sector/space-station-14, pull requests merged in 2024-10, with the labels that each got.

#71 Added Obsessed guidebook entry
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/Obsessed.xml
Labels: No C#

#80 improper brigmed access on cluster
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#83 Morph
  Content.Server/Polymorph/Systems/ChameleonProjectorSystem.cs
  Content.Shared/Atmos/Piping/Crawling/Components/CanEnterPipeCrawlingComponent.cs
  Content.Shared/Atmos/Piping/Crawling/Components/PipeCrawlingEnterPointComponent.cs
  Content.Shared/Atmos/Piping/Crawling/Systems/SharedPipeCrawlingEnterPointSystem.cs
  Content.Shared/Atmos/Piping/Crawling/Systems/SharedPipeCrawlingSystem.cs
  Content.Shared/Devour/Components/DevourerComponent.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Content.Shared/HealthExaminable/HealthExaminableComponent.cs
  Content.Shared/Inventory/InventoryComponent.cs
  Content.Shared/Inventory/InventoryTemplatePrototype.cs
  Content.Shared/Polymorph/Components/ChameleonProjectorComponent.cs
  Content.Shared/Polymorph/Systems/SharedChameleonProjectorSystem.cs
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/ghost/roles/morph.ftl
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/Player/morph.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Textures/Interface/Actions/morph.rsi/icon-on.png
  Resources/Textures/Interface/Actions/morph.rsi/icon.png
  Resources/Textures/Interface/Actions/morph.rsi/meta.json
  Resources/Textures/Mobs/Aliens/morph.rsi/meta.json
  Resources/Textures/Mobs/Aliens/morph.rsi/morph.png
  Resources/Textures/Mobs/Aliens/morph.rsi/morph_dead.png
Labels: Changes: Sprites

#85 updated map mir and added screens to evac shuttle
  Resources/Maps/Shuttles/emergency_mir.yml
  Resources/Maps/mir.yml
Labels: No C#, Changes: Map

#86 small additions to Mir 09/10/2024
  Resources/Maps/mir.yml
Labels: No C#, Changes: Map

#93 12/10/2024 Sec rework
  Resources/Maps/mir.yml
  Resources/Prototypes/Maps/mir.yml
Labels: No C#, Changes: Map

#95 decorated maints and added small
  Resources/Maps/mir.yml
Labels: No C#, Changes: Map

#96 Fixed floating grids on map mir
  Resources/Maps/mir.yml
Labels: No C#, Changes: Map

#97 Softcrit
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Client/UserInterface/Systems/DamageOverlays/DamageOverlayUiController.cs
  Content.Client/UserInterface/Systems/DamageOverlays/Overlays/DamageOverlay.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Damage/ForceSay/DamageForceSaySystem.cs
  Content.Server/EntityEffects/EffectConditions/MobStateCondition.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/Guardian/GuardianSystem.cs
  Content.Server/KillTracking/KillTrackerComponent.cs
  Content.Server/KillTracking/KillTrackingSystem.cs
  Content.Server/Mobs/DeathgaspSystem.cs
  Content.Server/NPC/Systems/NPCSystem.cs
  Content.Server/Revenant/EntitySystems/EssenceSystem.cs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Chat/TypingIndicator/SharedTypingIndicatorSystem.cs
  Content.Shared/Damage/Components/DamageableComponent.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Mobs/Components/MobStateComponent.cs
  Content.Shared/Mobs/Components/MobThresholdsComponent.cs
  Content.Shared/Mobs/MobState.cs
  Content.Shared/Mobs/Systems/MobStateSystem.StateMachine.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Mobs/Systems/MobStateSystem.cs
  Content.Shared/Mobs/Systems/MobThresholdSystem.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Silicons/Bots/MedibotSystem.cs
  Content.Shared/Speech/SpeakAttemptEvent.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: UI

#98 added space loot
  Resources/Maps/mir.yml
Labels: No C#, Changes: Map

#99 fixed the atmos in maints
  Resources/Maps/mir.yml
Labels: No C#, Changes: Map

#103 bombroach
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Textures/Mobs/Animals/bombroach.rsi/bombroach-moving.png
  Resources/Textures/Mobs/Animals/bombroach.rsi/bombroach.png
  Resources/Textures/Mobs/Animals/bombroach.rsi/bombroach_dead.png
  Resources/Textures/Mobs/Animals/bombroach.rsi/icon.png
  Resources/Textures/Mobs/Animals/bombroach.rsi/meta.json
  Resources/Textures/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/Objects/Devices/communication.rsi/old-radio-bombroach.png
Labels: Changes: Sprites, No C#

#104 Anomaly scanner storable in utility belt
  Resources/Changelog/Mira.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: No C#

#110 small changes so small i forgot what they were 23/10/24
  Resources/Maps/mir.yml
Labels: No C#, Changes: Map

#111 Roundstart equipment for engi 25/10/2024
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
Labels: No C#
