Repository Mira-Sector/space-station-14, pull requests merged in 2024-09, with the labels that each got.

#32 added new map called Mir station
  Resources/Maps/Mirstation.yml
  Resources/Prototypes/Maps/mir.yml
Labels: No C#, Changes: Map

#42 red is sus
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
Labels: No C#

#45 Revert 43 footstep
  Content.Server/Footprints/Components/CanLeaveFootprintsComponent.cs
  Content.Server/Footprints/Components/GivesFootprintsComponent.cs
  Content.Server/Footprints/Components/LeavesFootprintsComponent.cs
  Content.Server/Footprints/Systems/LeaveFootprintSystem.cs
  Content.Server/Footprints/Systems/UpdateFootprintsSystem.cs
  Resources/Prototypes/Decals/footprints.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/Decals/footprints.rsi/4legs-l.png
  Resources/Textures/Decals/footprints.rsi/4legs-r.png
  Resources/Textures/Decals/footprints.rsi/6legs-l.png
  Resources/Textures/Decals/footprints.rsi/6legs-r.png
  Resources/Textures/Decals/footprints.rsi/8legs-l.png
  Resources/Textures/Decals/footprints.rsi/8legs-r.png
  Resources/Textures/Decals/footprints.rsi/boot-l.png
  Resources/Textures/Decals/footprints.rsi/boot-r.png
  Resources/Textures/Decals/footprints.rsi/claw-l.png
  Resources/Textures/Decals/footprints.rsi/claw-r.png
  Resources/Textures/Decals/footprints.rsi/foot-l.png
  Resources/Textures/Decals/footprints.rsi/foot-r.png
  Resources/Textures/Decals/footprints.rsi/meta.json
Labels: Changes: Sprites

#44 13/09/2024 minor mir changes
  Resources/Maps/mir.yml
Labels: No C#, Changes: Map

#50 Footstep 2: Electric Boogaloo
  Content.Server/Footprints/Components/CanLeaveFootprintsComponent.cs
  Content.Server/Footprints/Components/GivesFootprintsComponent.cs
  Content.Server/Footprints/Components/LeavesFootprintsComponent.cs
  Content.Server/Footprints/Systems/LeaveFootprintSystem.cs
  Content.Server/Footprints/Systems/UpdateFootprintsSystem.cs
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Effects/footprints.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/Fluids/footprints.rsi/4legs-l.png
  Resources/Textures/Fluids/footprints.rsi/4legs-r.png
  Resources/Textures/Fluids/footprints.rsi/6legs-l.png
  Resources/Textures/Fluids/footprints.rsi/6legs-r.png
  Resources/Textures/Fluids/footprints.rsi/8legs-l.png
  Resources/Textures/Fluids/footprints.rsi/8legs-r.png
  Resources/Textures/Fluids/footprints.rsi/boot-l.png
  Resources/Textures/Fluids/footprints.rsi/boot-r.png
  Resources/Textures/Fluids/footprints.rsi/claw-l.png
  Resources/Textures/Fluids/footprints.rsi/claw-r.png
  Resources/Textures/Fluids/footprints.rsi/foot-l.png
  Resources/Textures/Fluids/footprints.rsi/foot-r.png
  Resources/Textures/Fluids/footprints.rsi/meta.json
Labels: Changes: Sprites

#53 Ion storm announcement
  Resources/Changelog/Mira.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/GameRules/random_sentience.yml
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: No C#

#61 Underwear
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Resources/Locale/en-US/markings/undershirt.ftl
  Resources/Locale/en-US/markings/underwear.ftl
  Resources/Locale/en-US/preferences/ui/markings-picker.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/underwear.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/gingerbread.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Textures/Mobs/Customization/undershirt.rsi/classic.png
  Resources/Textures/Mobs/Customization/undershirt.rsi/clown.png
  Resources/Textures/Mobs/Customization/undershirt.rsi/long_undershirt.png
  Resources/Textures/Mobs/Customization/undershirt.rsi/meta.json
  Resources/Textures/Mobs/Customization/undershirt.rsi/nanotrasen.png
  Resources/Textures/Mobs/Customization/undershirt.rsi/none.png
  Resources/Textures/Mobs/Customization/undershirt.rsi/rolled_undershirt.png
  Resources/Textures/Mobs/Customization/undershirt.rsi/rolled_undershirt_sleeveless.png
  Resources/Textures/Mobs/Customization/undershirt.rsi/sleeveless.png
  Resources/Textures/Mobs/Customization/undershirt.rsi/sports.png
  Resources/Textures/Mobs/Customization/undershirt.rsi/strapless.png
  Resources/Textures/Mobs/Customization/undershirt.rsi/undershirt.png
  Resources/Textures/Mobs/Customization/underwear.rsi/boxers.png
  Resources/Textures/Mobs/Customization/underwear.rsi/briefs.png
  Resources/Textures/Mobs/Customization/underwear.rsi/lowriders.png
  Resources/Textures/Mobs/Customization/underwear.rsi/meta.json
  Resources/Textures/Mobs/Customization/underwear.rsi/satin.png
  Resources/Textures/Mobs/Customization/underwear.rsi/tanga.png
Labels: Changes: Sprites

#64 Hexadecimal Radio Channel
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/narsie.yml
  Resources/Prototypes/Entities/Mobs/Player/ratvar.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/radio_channels.yml
Labels: No C#
