Repository Mira-Sector/space-station-14, pull requests merged in 2024-07, with the labels that each got.

#1 Det noir coat and fedora fixes + new hos jumpsuit variants (attempt no.: 2)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/detdrobe.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Clothing/Head/Hats/greyfedora.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/greyfedora.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/greyfedora.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/greyfedora.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/greyfedora.rsi/meta.json
Labels: Changes: Sprites, No C#

#3 Adjust role timers and rules
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/Roles/requirement_overrides.yml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC10AHelp.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC13CharacterNames.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC2DBAD.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC5Metacomms.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC6BanEvasion.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC9Multikey.xml
  Resources/ServerInfo/Guidebook/ServerRules/MiraRules.xml
Labels: No C#

#4 cloth burger
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/burger.rsi/cloth.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/cotton.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/meta.json
Labels: Changes: Sprites, No C#

#5 gay wallmount flags
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Textures/Structures/Wallmounts/flags.rsi/bisexual_flag.png
  Resources/Textures/Structures/Wallmounts/flags.rsi/intersex_flag.png
  Resources/Textures/Structures/Wallmounts/flags.rsi/lesbian_flag.png
  Resources/Textures/Structures/Wallmounts/flags.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/flags.rsi/nonbinary_flag.png
  Resources/Textures/Structures/Wallmounts/flags.rsi/pansexual_flag.png
  Resources/Textures/Structures/Wallmounts/flags.rsi/trans_flag.png
Labels: Changes: Sprites, No C#

#6 Maps brigmedic into train & adds brigmedic into the station specific jobs section
  Resources/Maps/train.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#, Changes: Map

#7 Energy shotgun
  Resources/Changelog/Mira.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/battery.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/energy-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/energy-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/weild-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/inhands_64x.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_tg.rsi/heavylaser.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_tg.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, No C#

#9 New chemmedhud & handheld crew monitor changes
  Resources/Changelog/Mira.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Textures/Clothing/Eyes/Hud/chemmed.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Hud/chemmed.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Hud/chemmed.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Hud/chemmed.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Hud/chemmed.rsi/meta.json
Labels: Changes: Sprites, No C#
