Repository Mira-Sector/space-station-14, pull requests merged in 2025-04, with the labels that each got.

#313 temporary fix to major game issues 06/04/2025
  Resources/Prototypes/Maps/mir.yml
Labels: Changes: Map, Changes: No C#

#315 Fix stripping mobs
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Changes: No C#

#319 Goliath hardsuit helmet armor
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: Changes: No C#

#321 fixed the small shuttle
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
Labels: Changes: No C#

#323 Re-added undergarments prior to wizden ones
  Resources/Locale/en-US/markings/undergarment.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/undergarments.yml
Labels: Changes: No C#

#325 handhend-rnd-tablet
  Resources/Locale/en-US/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Tools/handheld_rnd_tablet.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Textures/Objects/Tools/handheld_rnd_tablet.rsi/icon.png
  Resources/Textures/Objects/Tools/handheld_rnd_tablet.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/handheld_rnd_tablet.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/handheld_rnd_tablet.rsi/meta.json
  Resources/Textures/Objects/Tools/handheld_rnd_tablet.rsi/powered.png
Labels: Changes: Sprites, Changes: No C#

#326 new medkit sprites
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/advkit-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/advkit-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/advkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/blackkit-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/blackkit-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/blackkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/brutekit-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/brutekit-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/brutekit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/burnkit-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/burnkit-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/burnkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/firstaid-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/firstaid-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/firstaid.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/o2kit-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/o2kit-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/o2kit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/radkit-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/radkit-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/radkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/toxinkit-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/toxinkit-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/toxinkit.png
Labels: Changes: Sprites, Changes: No C#

#327 Botany QOL
  Content.Server/Botany/Components/BotanySwabComponent.cs
  Content.Server/Nutrition/Components/SliceableFoodComponent.cs
  Content.Server/Nutrition/EntitySystems/SliceableFoodSystem.cs
  Resources/Locale/en-US/paper/paper-misc.ftl
  Resources/Locale/en-US/reagents/voidoil.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Prototypes/Recipes/Reactions/pyrotechnic.yml
  Resources/Prototypes/Recipes/Reactions/single_reagent.yml
  Resources/Textures/Clothing/Head/Hats/lampflowerring.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/sunflowerring.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/voidflowerring.rsi/icon.png
Labels: Changes: Sprites

#324 More plushies
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Fun/mira_plushies.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Textures/Objects/Fun/mira_plushies.rsi/meta.json
  Resources/Textures/Objects/Fun/mira_plushies.rsi/plushie_anurath.png
  Resources/Textures/Objects/Fun/mira_plushies.rsi/plushie_base.png
  Resources/Textures/Objects/Fun/mira_plushies.rsi/plushie_gwen.png
  Resources/Textures/Objects/Fun/mira_plushies.rsi/plushie_salad.png
  Resources/Textures/Objects/Fun/mira_plushies.rsi/plushie_sillyamy_human.png
  Resources/Textures/Objects/Fun/mira_plushies.rsi/plushie_sillyamy_slime.png
  Resources/Textures/Objects/Fun/mira_plushies.rsi/plushie_wudanty.png
Labels: Changes: Sprites, Changes: No C#

#328 More in pride-o-mat!
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/Entities/Objects/Misc/handy_flags.yml
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/ally_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/ally_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/ally_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/ally_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/aroace_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/aroace_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/aroace_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/aroace_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/aromanticism_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/aromanticism_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/aromanticism_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/aromanticism_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/asexuality_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/asexuality_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/asexuality_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/asexuality_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/bisexual_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/bisexual_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/bisexual_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/bisexual_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/gay_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/gay_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/gay_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/gay_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/genderqueer_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/genderqueer_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/genderqueer_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/genderqueer_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/intersex_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/intersex_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/intersex_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/intersex_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/lesbian_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/lesbian_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/lesbian_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/lesbian_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/lgbtq_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/lgbtq_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/lgbtq_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/lgbtq_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/nonbinary_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/nonbinary_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/nonbinary_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/nonbinary_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/omnisexual_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/omnisexual_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/omnisexual_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/omnisexual_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/pansexual_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/pansexual_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/pansexual_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/pansexual_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/transexual_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/transexual_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/transexual_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/LGBTQ_Flags/transexual_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/pansexual_handy_flag.rsi/icon.png
Labels: Changes: Sprites, Changes: No C#

#329 First PR for decaled packed
  Resources/Maps/packed.yml
Labels: Changes: Map, Changes: No C#

#330 Law sync
  Content.Client/Silicons/Borgs/BorgBoundUserInterface.cs
  Content.Client/Silicons/Borgs/BorgMenu.xaml
  Content.Client/Silicons/Borgs/BorgMenu.xaml.cs
  Content.Client/Silicons/Sync/SiliconSyncSelectorBoundUserInterface.cs
  Content.Server/Silicons/Borgs/BorgSystem.Ui.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Server/Silicons/Sync/SiliconSyncLawWireAction.cs
  Content.Server/Silicons/Sync/SiliconSyncWireAction.cs
  Content.Shared/Silicons/Borgs/BorgUI.cs
  Content.Shared/Silicons/Laws/Components/SiliconLawBoundComponent.cs
  Content.Shared/Silicons/Laws/SharedSiliconLawSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/StationAiHolderComponent.cs
  Content.Shared/Silicons/Sync/Components/SiliconSyncableMasterComponent.cs
  Content.Shared/Silicons/Sync/Components/SiliconSyncableMasterLawComponent.cs
  Content.Shared/Silicons/Sync/Components/SiliconSyncableSlaveComponent.cs
  Content.Shared/Silicons/Sync/Components/SiliconSyncableSlaveLawComponent.cs
  Content.Shared/Silicons/Sync/Events/BaseSiliconSyncMasterEvent.cs
  Content.Shared/Silicons/Sync/Events/SiliconSlaveRadialBoundUserInterfaceState.cs
  Content.Shared/Silicons/Sync/Events/SiliconSyncMasterGetIconEvent.cs
  Content.Shared/Silicons/Sync/Events/SiliconSyncMasterSlaveAddedEvent.cs
  Content.Shared/Silicons/Sync/Events/SiliconSyncMasterSlaveLostEvent.cs
  Content.Shared/Silicons/Sync/Events/SiliconSyncSlaveLawCanUpdateEvent.cs
  Content.Shared/Silicons/Sync/Events/SiliconSyncSlaveMasterMessage.cs
  Content.Shared/Silicons/Sync/Events/SiliconSyncSlaveMasterUpdatedEvent.cs
  Content.Shared/Silicons/Sync/SilicionSyncUiKey.cs
  Content.Shared/Silicons/Sync/SiliconSyncSystem.cs
  Content.Shared/Silicons/Sync/SiliconSyncWireStatus.cs
  Resources/Locale/en-US/borg/borg.ftl
  Resources/Locale/en-US/wires/wire-names.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Wires/layouts.yml
Labels: Changes: UI

#331 Decaled packed 2, just a quick fix
  Resources/Maps/packed.yml
Labels: Changes: Map, Changes: No C#

#333 beepsky voice
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/ForceHandcuffOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/PickNearbyWantedOperator.cs
  Resources/Audio/Voice/Silicon/Beepsky/beepskyspinsabre.ogg
  Resources/Audio/Voice/Silicon/Beepsky/creep.ogg
  Resources/Audio/Voice/Silicon/Beepsky/criminal.ogg
  Resources/Audio/Voice/Silicon/Beepsky/freeze.ogg
  Resources/Audio/Voice/Silicon/Beepsky/god.ogg
  Resources/Audio/Voice/Silicon/Beepsky/iamthelaw.ogg
  Resources/Audio/Voice/Silicon/Beepsky/insult.ogg
  Resources/Audio/Voice/Silicon/Beepsky/justice.ogg
  Resources/Audio/Voice/Silicon/Beepsky/radio.ogg
  Resources/Audio/Voice/Silicon/Beepsky/secureday.ogg
  Resources/Prototypes/Entities/Markers/Spawners/bots.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/NPCs/secbot.yml
  Resources/Prototypes/SoundCollections/beepsky.yml
Labels: Changes: Audio

#334 Bot Commanding
  Content.Client/Silicons/StationAi/StationAiBoundUserInterface.cs
  Content.Client/Silicons/Sync/Events/SiliconSyncMoveSlaveGetSpriteEvent.cs
  Content.Client/Silicons/Sync/SiliconSyncCommanderOverlay.cs
  Content.Client/Silicons/Sync/SiliconSyncSystem.cs
  Content.Server/Silicons/Sync/SiliconSyncLawWireAction.cs
  Content.Server/Silicons/Sync/SiliconSyncSystem.cs
  Content.Server/Silicons/Sync/SiliconSyncWireAction.cs
  Content.Shared/Silicons/Sync/Components/SiliconSyncableMasterCommanderComponent.cs
  Content.Shared/Silicons/Sync/Components/SiliconSyncableMasterComponent.cs
  Content.Shared/Silicons/Sync/Components/SiliconSyncableSlaveAiRadialComponent.cs
  Content.Shared/Silicons/Sync/Components/SiliconSyncableSlaveCommandableComponent.cs
  Content.Shared/Silicons/Sync/Components/SiliconSyncableSlaveComponent.cs
  Content.Shared/Silicons/Sync/Events/SiliconSyncMoveSlaveLostEvent.cs
  Content.Shared/Silicons/Sync/Events/SiliconSyncMoveSlavePathEvent.cs
  Content.Shared/Silicons/Sync/Events/SiliconSyncMoveSlaveToPositionEvent.cs
  Content.Shared/Silicons/Sync/Events/StationAiSyncCommandEvent.cs
  Content.Shared/Silicons/Sync/Events/StationAiSyncSlaveEvent.cs
  Content.Shared/Silicons/Sync/SharedSiliconSyncSystem.cs
  Content.Shared/Silicons/Sync/SiliconSyncCommandingPathType.cs
  Resources/Locale/en-US/silicons/station-ai.ftl
  Resources/Locale/en-US/store/station-ai-catalog.ftl
  Resources/Prototypes/Catalog/station_ai_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Textures/Interface/Actions/actions_ai.rsi/command_off.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/command_on.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/meta.json
  Resources/Textures/Interface/Actions/actions_ai.rsi/sync.png
  Resources/Textures/Markers/ai_commanding.rsi/meta.json
  Resources/Textures/Markers/ai_commanding.rsi/moving.png
  Resources/Textures/Markers/ai_commanding.rsi/no_path.png
  Resources/Textures/Markers/ai_commanding.rsi/planning.png
Labels: Changes: Sprites

#338 Some new posters
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Structures/Wallmounts/mira_posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/mira_posters.rsi/miraposter1_contraband.png
  Resources/Textures/Structures/Wallmounts/mira_posters.rsi/miraposter2_contraband.png
  Resources/Textures/Structures/Wallmounts/mira_posters.rsi/miraposter2_legit.png
  Resources/Textures/Structures/Wallmounts/mira_posters.rsi/miraposter3_legit.png
Labels: Changes: Sprites, Changes: No C#

#337 Plant Analyser
  Content.Client/Botany/PlantAnalyzer/PlantAnalyzerBoundUserInterface.cs
  Content.Client/Botany/PlantAnalyzer/PlantAnalyzerWindow.xaml
  Content.Client/Botany/PlantAnalyzer/PlantAnalyzerWindow.xaml.cs
  Content.Server/BaseAnalyzer/BaseAnalyzerComponent.cs
  Content.Server/BaseAnalyzer/BaseAnalyzerSystem.cs
  Content.Server/Botany/Components/PlantAnalyzerComponent.cs
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Botany/Systems/PlantAnalyzerSystem.cs
  Content.Server/CartridgeLoader/Cartridges/PlantScanCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/PlantScanCartridgeSystem.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantAdjustPests.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantAdjustToxins.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantAdjustWeeds.cs
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Shared/Botany/PlantAnalyzer/PlantAnalyzerDoAfterEvent.cs
  Content.Shared/Botany/PlantAnalyzer/PlantAnalyzerLocalizationHelper.cs
  Content.Shared/Botany/PlantAnalyzer/PlantAnalyzerScannedUserMessage.cs
  Content.Shared/Botany/PlantAnalyzer/PlantAnalyzerUiKey.cs
  Resources/Locale/en-US/botany/components/plant-analyzer-component.ftl
  Resources/Locale/en-US/cartridge-loader/cartridges.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/plant_analyzer.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Recipes/Lathes/botany.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Textures/Objects/Devices/cartridge.rsi/cart-plant.png
  Resources/Textures/Objects/Devices/cartridge.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/plant_analyzer.rsi/analyzer-inhand-left.png
  Resources/Textures/Objects/Specific/Hydroponics/plant_analyzer.rsi/analyzer-inhand-right.png
  Resources/Textures/Objects/Specific/Hydroponics/plant_analyzer.rsi/analyzer.png
  Resources/Textures/Objects/Specific/Hydroponics/plant_analyzer.rsi/icon.png
  Resources/Textures/Objects/Specific/Hydroponics/plant_analyzer.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#336 Meson Goggles
  Content.Client/Glasses/GlassesOverlay.cs
  Content.Client/Glasses/GlassesOverlaySystem.cs
  Content.Client/XRay/ShowXRaySystem.cs
  Content.Client/XRay/XRayOverlay.cs
  Content.Shared/Glasses/GlassesOverlayComponent.cs
  Content.Shared/Instruments/HeadphonesComponent.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/XRay/ShowXRayComponent.cs
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Tiles/lava.yml
  Resources/Prototypes/Entities/Tiles/liquid_plasma.yml
  Resources/Prototypes/Entities/Tiles/water.yml
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Shaders/goggles.swsl
  Resources/Textures/Shaders/xray.swsl
Labels: Changes: Shaders

#341 remove scrolling scanlines
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Textures/Shaders/xray.swsl
Labels: Changes: Shaders, Changes: No C#

#346 Smol admeme thing
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Tiles/invisible.png
Labels: Changes: No C#

#347 added cargo mail to cluster, other various fixes with mapping.
  Resources/Maps/cluster.yml
Labels: Changes: Map, Changes: No C#

#348 atlas now has mail
  Resources/Maps/atlas.yml
Labels: Changes: Map, Changes: No C#

#349 DONK CO. vending machine
  Resources/Locale/en-US/advertisements/vending/donk.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/donk.yml
  Resources/Prototypes/Catalog/VendingMachines/advertisements.yml
  Resources/Prototypes/Catalog/VendingMachines/goodbyes.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/vending.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/vendingsnacks.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Structures/Machines/VendingMachines/donkco.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/donkco.rsi/eject-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/donkco.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/donkco.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/donkco.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/donkco.rsi/panel.png
Labels: Changes: Sprites, Changes: No C#

#350 Quick fix for a typo in the donk co. advertisements
  Resources/Locale/en-US/advertisements/vending/donk.ftl
Labels: Changes: No C#

#345 Dyable Clothing
  Content.Client/Crayon/CrayonSystem.cs
  Content.Client/Dyable/DyableSystem.cs
  Content.Client/Forensics/ForensicScannerMenu.xaml
  Content.Server/Crayon/CrayonSystem.cs
  Content.Server/Dyable/DyableSystem.cs
  Content.Server/Forensics/Components/FiberComponent.cs
  Content.Server/Forensics/Components/ResidueComponent.cs
  Content.Server/Forensics/Systems/ForensicPadSystem.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/Crayon/SharedCrayonSystem.cs
  Content.Shared/Dyable/DyableComponent.cs
  Content.Shared/Dyable/DyableVisuals.cs
  Content.Shared/Dyable/DyableVisualsLayers.cs
  Content.Shared/Dyable/GetDyableColorsEvent.cs
  Content.Shared/Dyable/SharedDyableSystem.cs
  Content.Shared/Item/SharedItemSystem.cs
  Content.Shared/WashingMachine/Events/WashingMachineFinishedEvent.cs
  Content.Shared/WashingMachine/Events/WashingMachineIsBeingWashedEvent.cs
  Content.Shared/WashingMachine/Events/WashingMachineStartedWashingEvent.cs
  Content.Shared/WashingMachine/Events/WashingMachineWashedEvent.cs
  Content.Shared/WashingMachine/WashingMachineComponent.cs
  Content.Shared/WashingMachine/WashingMachineState.cs
  Content.Shared/WashingMachine/WashingMachineSystem.cs
  Content.Shared/WashingMachine/WashingMachineVisuals.cs
  Resources/Audio/Machines/washing_loop.ogg
  Resources/Audio/Machines/washing_open.ogg
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Locale/en-US/forensics/fibers.ftl
  Resources/Locale/en-US/forensics/residues.ftl
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
  Resources/Prototypes/Entities/Clothing/Shoes/color.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpsuits.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Entities/Structures/Furniture/washing_machine.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Textures/Structures/Furniture/washing_machine.rsi/base.png
  Resources/Textures/Structures/Furniture/washing_machine.rsi/door-closed.png
  Resources/Textures/Structures/Furniture/washing_machine.rsi/door-open.png
  Resources/Textures/Structures/Furniture/washing_machine.rsi/empty.png
  Resources/Textures/Structures/Furniture/washing_machine.rsi/full.png
  Resources/Textures/Structures/Furniture/washing_machine.rsi/meta.json
  Resources/Textures/Structures/Furniture/washing_machine.rsi/panel.png
  Resources/Textures/Structures/Furniture/washing_machine.rsi/running.png
Labels: Changes: Sprites, Changes: UI, Changes: Audio

#351 Toy double e-sword and other things
  Resources/Locale/en-US/advertisements/vending/donktoy.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/donksoft.yml
  Resources/Prototypes/Catalog/VendingMachines/advertisements.yml
  Resources/Prototypes/Catalog/VendingMachines/goodbyes.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/vending.yml
  Resources/Prototypes/Entities/Objects/Fun/mira_toys.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Objects/Fun/toy_d_sword.rsi/e_double_sword.png
  Resources/Textures/Objects/Fun/toy_d_sword.rsi/e_double_sword_blade.png
  Resources/Textures/Objects/Fun/toy_d_sword.rsi/icon.png
  Resources/Textures/Objects/Fun/toy_d_sword.rsi/inhand-left-blade.png
  Resources/Textures/Objects/Fun/toy_d_sword.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/toy_d_sword.rsi/inhand-right-blade.png
  Resources/Textures/Objects/Fun/toy_d_sword.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/toy_d_sword.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/donkco.rsi/eject-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/donkco.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/donksoft.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/donksoft.rsi/eject-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/donksoft.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/donksoft.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/donksoft.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/donksoft.rsi/panel.png
  Resources/Textures/Structures/Machines/VendingMachines/donksoftsyndicate.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/donksoftsyndicate.rsi/eject-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/donksoftsyndicate.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/donksoftsyndicate.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/donksoftsyndicate.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/donksoftsyndicate.rsi/panel.png
Labels: Changes: Sprites, Changes: No C#

#312 Honkmother
  Resources/Audio/Misc/honkmother_rises.ogg
  Resources/Locale/en-US/honkmother/honkmother.ftl
  Resources/Prototypes/Entities/Mobs/Player/eldritchgods.yml
  Resources/Prototypes/Entities/Mobs/Player/narsie.yml
  Resources/Prototypes/Entities/Mobs/Player/ratvar.yml
Labels: Changes: No C#, Changes: Audio

#335 New packed 3
  Resources/Maps/packed.yml
Labels: Changes: Map, Changes: No C#

#357 Googly eyes
  Resources/Prototypes/Entities/Clothing/Eyes/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry.rsi/equipped-EYES-arachnid.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry.rsi/equipped-EYES-hamster.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry.rsi/equipped-EYES-moth.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry_crazy.rsi/equipped-EYES-arachnid.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry_crazy.rsi/equipped-EYES-hamster.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry_crazy.rsi/equipped-EYES-moth.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry_crazy.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry_crazy.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry_crazy.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry_crazy.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_angry_crazy.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal.rsi/equipped-EYES-arachnid.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal.rsi/equipped-EYES-hamster.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal.rsi/equipped-EYES-moth.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal_crazy.rsi/equipped-EYES-arachnid.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal_crazy.rsi/equipped-EYES-hamster.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal_crazy.rsi/equipped-EYES-moth.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal_crazy.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal_crazy.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal_crazy.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal_crazy.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal_crazy.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#361 Potential humanoid ghost fix
  Resources/Textures/Mobs/Ghosts/displacement.rsi/meta.json
Labels: Changes: No C#

#362 Readd orange gloves
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
Labels: Changes: No C#

#364 Quick MobEldergodBase fix
  Resources/Prototypes/Entities/Mobs/Player/eldritchgods.yml
Labels: Changes: No C#

#363 Quick fix for googly eyes
  Resources/Textures/Clothing/Eyes/Misc/GooglyEyes/googly_eyes_normal_crazy.rsi/equipped-EYES-hamster.png
Labels: Changes: Sprites, Changes: No C#
