Repository Mira-Sector/space-station-14, pull requests merged in 2025-05, with the labels that each got.

#355 Stains
  Content.Client/Stains/StainableSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.Spillable.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.Transfers.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Server/Stains/StainableSystem.cs
  Content.Shared/Dyable/SharedDyableSystem.cs
  Content.Shared/Fluids/Events.cs
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
  Content.Shared/Fluids/SharedPuddleSystem.Spillable.cs
  Content.Shared/Fluids/SharedPuddleSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/Stains/GetStainableSolutionEvent.cs
  Content.Shared/Stains/SharedStainableSystem.cs
  Content.Shared/Stains/StainVisualLayers.cs
  Content.Shared/Stains/StainableComponent.cs
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Textures/Effects/Stains/jumpskirt.rsi/equipped.png
  Resources/Textures/Effects/Stains/jumpskirt.rsi/icon.png
  Resources/Textures/Effects/Stains/jumpskirt.rsi/inhand-left.png
  Resources/Textures/Effects/Stains/jumpskirt.rsi/inhand-right.png
  Resources/Textures/Effects/Stains/jumpskirt.rsi/meta.json
  Resources/Textures/Effects/Stains/jumpsuit.rsi/equipped.png
  Resources/Textures/Effects/Stains/jumpsuit.rsi/icon.png
  Resources/Textures/Effects/Stains/jumpsuit.rsi/inhand-left.png
  Resources/Textures/Effects/Stains/jumpsuit.rsi/inhand-right.png
  Resources/Textures/Effects/Stains/jumpsuit.rsi/meta.json
Labels: Changes: Sprites

#365 Water Balloons!
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Objects/Fun/mira_toys.yml
  Resources/Textures/Objects/Fun/water_balloon.rsi/icon.png
  Resources/Textures/Objects/Fun/water_balloon.rsi/meta.json
  Resources/Textures/Objects/Storage/boxicons.rsi/meta.json
  Resources/Textures/Objects/Storage/boxicons.rsi/water_balloon.png
Labels: Changes: Sprites, Changes: No C#

#369 Gun Melee Attacks
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_gunmelee.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Bow/bow.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
Labels: Changes: No C#

#372 Saltern Botany Expansion
  Resources/Maps/saltern.yml
Labels: Changes: Map, Changes: No C#

#358 Figurine case
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Misc/figurinecase.yml
  Resources/Textures/Objects/Storage/Briefcases/figurine_case.rsi/icon.png
  Resources/Textures/Objects/Storage/Briefcases/figurine_case.rsi/inhand-left.png
  Resources/Textures/Objects/Storage/Briefcases/figurine_case.rsi/inhand-right.png
  Resources/Textures/Objects/Storage/Briefcases/figurine_case.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#366 Rare minifigures
  Resources/Locale/en-US/datasets/rare_figurines.ftl
  Resources/Prototypes/Datasets/rare_figurines.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/figurine_boxes.yml
  Resources/Prototypes/Entities/Objects/Fun/rare_figurines.yml
  Resources/Textures/Objects/Fun/rare_figurines.rsi/captain.png
  Resources/Textures/Objects/Fun/rare_figurines.rsi/ce.png
  Resources/Textures/Objects/Fun/rare_figurines.rsi/clown.png
  Resources/Textures/Objects/Fun/rare_figurines.rsi/cmo.png
  Resources/Textures/Objects/Fun/rare_figurines.rsi/engineer.png
  Resources/Textures/Objects/Fun/rare_figurines.rsi/fig_box.png
  Resources/Textures/Objects/Fun/rare_figurines.rsi/fig_box_unfolded.png
  Resources/Textures/Objects/Fun/rare_figurines.rsi/hamlet.png
  Resources/Textures/Objects/Fun/rare_figurines.rsi/hos.png
  Resources/Textures/Objects/Fun/rare_figurines.rsi/janitor.png
  Resources/Textures/Objects/Fun/rare_figurines.rsi/meta.json
  Resources/Textures/Objects/Fun/rare_figurines.rsi/mime.png
  Resources/Textures/Objects/Fun/rare_figurines.rsi/passenger_greytide.png
  Resources/Textures/Objects/Fun/rare_figurines.rsi/salvage.png
  Resources/Textures/Objects/Fun/rare_figurines.rsi/security.png
  Resources/Textures/Objects/Fun/rare_figurines.rsi/slime.png
  Resources/Textures/Objects/Fun/rare_figurines.rsi/warden.png
Labels: Changes: Sprites, Changes: No C#

#374 More reagents to anomaly slimes
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
Labels: Changes: No C#

#377 slightly more liquids to liquid anom
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
Labels: Changes: No C#

#381 one more flesh anomaly monster
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Textures/Mobs/Aliens/flesh.rsi/mess.png
  Resources/Textures/Mobs/Aliens/flesh.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#384 Sparks map updates
  Resources/Maps/sparks.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#
