Repository Mira-Sector/space-station-14, pull requests merged in 2025-02, with the labels that each got.

#233 added aromanticism and asexual flags.
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Textures/Structures/Wallmounts/flags.rsi/aro_flag.png
  Resources/Textures/Structures/Wallmounts/flags.rsi/asexual_flag.png
  Resources/Textures/Structures/Wallmounts/flags.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#225 Lord Bingus 20/01/2025
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Textures/Mobs/Pets/lordbingus.rsi/lord_bingus_dead.png
  Resources/Textures/Mobs/Pets/lordbingus.rsi/lordbingus.png
  Resources/Textures/Mobs/Pets/lordbingus.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#235 Added plenty of handheld flags. (But works, I think?)
  Resources/Prototypes/Entities/Objects/Misc/handy_flags.yml
  Resources/Textures/Objects/Misc/Handy_Flags/aromanticism_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/aromanticism_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/aromanticism_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/aromanticism_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/asexuality_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/asexuality_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/asexuality_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/asexuality_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/bisexual_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/bisexual_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/bisexual_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/bisexual_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/intersex_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/intersex_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/intersex_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/intersex_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/lesbian_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/lesbian_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/lesbian_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/lesbian_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/nonbinary_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/nonbinary_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/nonbinary_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/nonbinary_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/pansexual_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/pansexual_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/pansexual_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/pansexual_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/transexual_handy_flag_rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/transexual_handy_flag_rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/transexual_handy_flag_rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/transexual_handy_flag_rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#236 Cheese.
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_cheese_door.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Structures/Doors/secret_cheese_door.rsi/assembly.png
  Resources/Textures/Structures/Doors/secret_cheese_door.rsi/closed.png
  Resources/Textures/Structures/Doors/secret_cheese_door.rsi/closing.png
  Resources/Textures/Structures/Doors/secret_cheese_door.rsi/meta.json
  Resources/Textures/Structures/Doors/secret_cheese_door.rsi/open.png
  Resources/Textures/Structures/Doors/secret_cheese_door.rsi/opening.png
  Resources/Textures/Structures/Furniture/chairs.rsi/chair-cheese.png
  Resources/Textures/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/Structures/Walls/cheese.rsi/cheese0.png
  Resources/Textures/Structures/Walls/cheese.rsi/cheese1.png
  Resources/Textures/Structures/Walls/cheese.rsi/cheese2.png
  Resources/Textures/Structures/Walls/cheese.rsi/cheese3.png
  Resources/Textures/Structures/Walls/cheese.rsi/cheese4.png
  Resources/Textures/Structures/Walls/cheese.rsi/cheese5.png
  Resources/Textures/Structures/Walls/cheese.rsi/cheese6.png
  Resources/Textures/Structures/Walls/cheese.rsi/cheese7.png
  Resources/Textures/Structures/Walls/cheese.rsi/full.png
  Resources/Textures/Structures/Walls/cheese.rsi/meta.json
  Resources/Textures/Tiles/cheese.png
Labels: Changes: Sprites, Changes: No C#

#239 Fridge nuke resistance
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: Changes: No C#

#237 Invisible wall
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: Changes: Sprites, Changes: No C#

#242 Updated Cluster to:
  Resources/Maps/cluster.yml
Labels: Changes: Map, Changes: No C#

#244 Packed maintenance
  Resources/Maps/packed.yml
Labels: Changes: Map, Changes: No C#

#245 Brigmed slot to packed fix
  Resources/Prototypes/Maps/packed.yml
Labels: Changes: Map, Changes: No C#

#246 Cyborg AI vision
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Wires/layouts.yml
Labels: Changes: No C#

#247 Lattice edges
  Resources/Prototypes/Tiles/plating.yml
  Resources/Textures/Tiles/Misc/Lattice/double_edge_east.png
  Resources/Textures/Tiles/Misc/Lattice/double_edge_north.png
  Resources/Textures/Tiles/Misc/Lattice/double_edge_south.png
  Resources/Textures/Tiles/Misc/Lattice/double_edge_west.png
  Resources/Textures/Tiles/Misc/Lattice/lattice.png
Labels: Changes: No C#

#248 Shittles getting decals / fixes
  Resources/Maps/Shuttles/large_shittle.yml
  Resources/Maps/Shuttles/medium_shittle.yml
  Resources/Maps/Shuttles/scoop_shittle.yml
  Resources/Maps/Shuttles/sneak_shittle.yml
  Resources/Maps/Shuttles/spear_shuttle.yml
  Resources/Maps/Shuttles/syndie_shittle.yml
  Resources/Maps/Shuttles/trucker_shittle.yml
Labels: Changes: Map, Changes: No C#

#249 added sec shuttle to mir and other minor tweaks 14/02/2025
  Resources/Maps/Shuttles/emergency_mir.yml
  Resources/Maps/Shuttles/sec_shuttle_mir.yml
  Resources/Maps/mir.yml
Labels: Changes: Map, Changes: No C#

#250 Trap pipe Fix 14/02/2025
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
Labels: Changes: No C#

#251 Small power draw nerf 15/02/2025
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
Labels: Changes: No C#

#252 Securitron
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
  Content.Server/NPC/HTN/Preconditions/TargetStunnedPrecondition.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/EntityWhitelistOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/SendRadioOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/ForceHandcuffOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/PickNearbyWantedOperator.cs
  Content.Server/NPC/NPCBlackboard.cs
  Content.Shared/Contraband/ContrabandComponent.cs
  Content.Shared/CriminalRecords/CriminalRecord.cs
  Content.Shared/CriminalRecords/Systems/SharedCriminalRecordsSystem.cs
  Content.Shared/Cuffs/Components/CanForceHandcuffComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
  Content.Shared/Security/Components/CriminalRecordComponent.cs
  Content.Shared/Security/Systems/CriminalStatusSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/en-US/cuffs/components/handcuff-component.ftl
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/npc/securitron.ftl
  Resources/Prototypes/Entities/Markers/Spawners/bots.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/NPCs/secbot.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/secbot.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Mobs/Silicon/Bots/securitron.rsi/meta.json
  Resources/Textures/Mobs/Silicon/Bots/securitron.rsi/secbot.png
  Resources/Textures/Mobs/Silicon/Bots/securitron.rsi/secbot_charged.png
Labels: Changes: Sprites

#256 Mir maintenance 19/02/2025
  Resources/Maps/mir.yml
Labels: Changes: Map, Changes: No C#

#258 New Central Command
  Resources/Locale/en-US/barsign/barsign-component.ftl
  Resources/Maps/centcomm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/bar_signs.yml
  Resources/Textures/Structures/Wallmounts/barsign.rsi/centralstop.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: No C#

#259 Minor Mir atmos map change (+minor map fix)
  Resources/Maps/mir.yml
Labels: Changes: Map, Changes: No C#

#241 Cheese part 2: Electric Boogaloo
  Resources/Prototypes/CheeseParents.yml
  Resources/Prototypes/Entities/Mobs/NPCs/cheese.yml
  Resources/Prototypes/Entities/Objects/Fun/immovable_rod.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Objects/Tools/crowbars.yml
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_cheese_door.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Textures/Mobs/Aliens/cheese.rsi/clamp.png
  Resources/Textures/Mobs/Aliens/cheese.rsi/dead.png
  Resources/Textures/Mobs/Aliens/cheese.rsi/golem.png
  Resources/Textures/Mobs/Aliens/cheese.rsi/jared.png
  Resources/Textures/Mobs/Aliens/cheese.rsi/lover.png
  Resources/Textures/Mobs/Aliens/cheese.rsi/meta.json
  Resources/Textures/Objects/Specific/Chapel/cheese-bible.rsi/icon.png
  Resources/Textures/Objects/Specific/Chapel/cheese-bible.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Chapel/cheese-bible.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Chapel/cheese-bible.rsi/meta.json
  Resources/Textures/Objects/Tools/crowbar.rsi/cheese-icon.png
  Resources/Textures/Objects/Tools/crowbar.rsi/cheese-inhand-left.png
  Resources/Textures/Objects/Tools/crowbar.rsi/cheese-inhand-right.png
  Resources/Textures/Objects/Tools/crowbar.rsi/cheese-storage.png
  Resources/Textures/Objects/Tools/crowbar.rsi/meta.json
  Resources/Textures/Structures/Furniture/Altars/Cults/cheese.rsi/awakened.png
  Resources/Textures/Structures/Furniture/Altars/Cults/cheese.rsi/awakened_overlay.png
  Resources/Textures/Structures/Furniture/Altars/Cults/cheese.rsi/full.png
  Resources/Textures/Structures/Furniture/Altars/Cults/cheese.rsi/meta.json
  Resources/Textures/Structures/Furniture/Tables/cheese.rsi/full.png
  Resources/Textures/Structures/Furniture/Tables/cheese.rsi/meta.json
  Resources/Textures/Structures/Furniture/Tables/cheese.rsi/state_0.png
  Resources/Textures/Structures/Furniture/Tables/cheese.rsi/state_1.png
  Resources/Textures/Structures/Furniture/Tables/cheese.rsi/state_2.png
  Resources/Textures/Structures/Furniture/Tables/cheese.rsi/state_3.png
  Resources/Textures/Structures/Furniture/Tables/cheese.rsi/state_4.png
  Resources/Textures/Structures/Furniture/Tables/cheese.rsi/state_5.png
  Resources/Textures/Structures/Furniture/Tables/cheese.rsi/state_6.png
  Resources/Textures/Structures/Furniture/Tables/cheese.rsi/state_7.png
Labels: Changes: Sprites, Changes: No C#
