Repository Mira-Sector/space-station-14, pull requests merged in 2025-08, with the labels that each got.

#438 updated cluster
  Resources/Maps/cluster.yml
Labels: Changes: Map, Changes: No C#

#439 Map Updates
  Resources/Maps/atlas.yml
  Resources/Maps/omega.yml
  Resources/Maps/saltern.yml
  Resources/Maps/sparks.yml
Labels: Changes: Map, Changes: No C#

#441 Modsuit power loss effects
  Content.Client/Modules/ModSuit/ModSuitSealableAllButton.xaml
  Content.Client/Modules/ModSuit/ModSuitSealableButton.xaml
  Content.Shared/Modules/ModSuit/Components/ModSuitSealableComponent.cs
  Content.Shared/Modules/ModSuit/Events/ModSuitDeployableRelayedEvent.cs
  Content.Shared/Modules/ModSuit/Events/ModSuitSealAttemptEvent.cs
  Content.Shared/Modules/ModSuit/SharedModSuitSystem.Deployable.Relay.cs
  Content.Shared/Modules/ModSuit/SharedModSuitSystem.Sealable.cs
  Content.Shared/Modules/Modules/SharedPowerDrainModuleSystem.cs
  Content.Shared/Modules/SharedModuleSystem.Power.cs
Labels: Changes: UI

#443 refactor surgery to be un-ambigus to limbs and body
  Content.Client/Surgery/Pain/Effects/Bleed.cs
  Content.Client/Surgery/Pain/Effects/Emote.cs
  Content.Client/Surgery/UI/SurgeryEdgeDetails.xaml.cs
  Content.Client/Surgery/UI/SurgeryEdgeDetailsTab.xaml.cs
  Content.Client/Surgery/UI/SurgeryGraphControl.Drawing.cs
  Content.Client/Surgery/UI/SurgeryNodeDetails.xaml.cs
  Content.Client/Surgery/UI/SurgeryNodeDetailsTab.xaml.cs
  Content.Client/Surgery/UI/SurgeryWindow.xaml.cs
  Content.Server/Surgery/Pain/Effects/Bleed.cs
  Content.Server/Surgery/Pain/Effects/Emote.cs
  Content.Shared/Surgery/Pain/Effects/Damage.cs
  Content.Shared/Surgery/Pain/Requirements/RequireMobState.cs
  Content.Shared/Surgery/Pain/Requirements/Sleeping.cs
  Content.Shared/Surgery/Pain/SurgeryPainEffect.cs
  Content.Shared/Surgery/Pain/SurgeryPainRequirement.cs
  Content.Shared/Surgery/Requirements/BodyPartRequirement.cs
  Content.Shared/Surgery/Requirements/LimbRequirement.cs
  Content.Shared/Surgery/Requirements/ToolRequirement.cs
  Content.Shared/Surgery/Requirements/UsedWhitelistRequirement.cs
  Content.Shared/Surgery/Specials/AddComponentLimb.cs
  Content.Shared/Surgery/Specials/ChangeSex.cs
  Content.Shared/Surgery/Specials/ItemSlot.cs
  Content.Shared/Surgery/Specials/MagicMirror.cs
  Content.Shared/Surgery/Specials/OrganManipulation.cs
  Content.Shared/Surgery/SurgeryEdgeRequirement.cs
  Content.Shared/Surgery/SurgerySpecial.cs
  Content.Shared/Surgery/Systems/SharedSurgerySystem.Pain.cs
  Content.Shared/Surgery/Systems/SharedSurgerySystem.cs
Labels: Changes: UI

#445 borg-surgery-tools
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/borg_types.yml
  Resources/Textures/Interface/Actions/actions_borg.rsi/meta.json
  Resources/Textures/Interface/Actions/actions_borg.rsi/surgery-module.png
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/icon-surgery.png
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#
