Repository Mira-Sector/space-station-14, pull requests merged in 2025-01, with the labels that each got.

#188 Added upstream content 03/01/2025
  Resources/Prototypes/Maps/mir.yml
Labels: Changes: Map, Changes: No C#

#191 fix loadouts
  Content.Client/Lobby/UI/Loadouts/LoadoutContainer.xaml.cs
Labels: Changes: UI

#192 AI loadouts
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/Loadouts/LoadoutGroupContainer.xaml.cs
  Content.Client/Silicons/StationAi/StationAiSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Clothing/LoadoutSystem.cs
  Content.Shared/Preferences/Loadouts/LoadoutPrototype.cs
  Content.Shared/Roles/StartingGearPrototype.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/StationAiCoreSpriteComponent.cs
  Content.Shared/Silicons/StationAi/StationAiHolderComponent.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Loadouts/Jobs/Science/ai.yml
  Resources/Prototypes/Loadouts/dummy_entities.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Textures/Mobs/Silicon/station_ai.rsi/alien.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/angel.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/bliss.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/clown.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/database.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/gentoo.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/glitchman.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/house.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/meta.json
  Resources/Textures/Mobs/Silicon/station_ai.rsi/not_malf.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/static.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/thinking.png
Labels: Changes: Sprites, Changes: UI

#196 fix lizards
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: Changes: No C#

#194 added map changes
  Resources/Maps/mir.yml
Labels: Changes: Map, Changes: No C#

#199 Changed evac shuttle to non Christmas version 05/01/2025
  Resources/Maps/Shuttles/emergency_mir.yml
Labels: Changes: Map, Changes: No C#

#184 AI shunting
  Content.Client/DoAfter/DoAfterOverlay.cs
  Content.Client/Silicons/StationAi/StationAiSystem.Shunting.cs
  Content.Client/Silicons/StationAi/StationAiSystem.cs
  Content.Server/Silicons/StationAi/StationAiSystem.Shunting.cs
  Content.Server/Silicons/StationAi/StationAiSystem.cs
  Content.Shared/DoAfter/ActiveDoAfterComponent.cs
  Content.Shared/DoAfter/DoAfterArgs.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Shunting.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/StationAiCanShuntComponent.cs
  Content.Shared/Silicons/StationAi/StationAiShuntingComponent.cs
  Resources/Locale/en-US/silicons/station-ai.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Textures/Interface/Actions/actions_ai.rsi/meta.json
  Resources/Textures/Interface/Actions/actions_ai.rsi/shunting.png
Labels: Changes: Sprites

#185 APC Hacking
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Silicons/StationAi/StationAiSystem.Hacking.cs
  Content.Client/Silicons/StationAi/StationAiSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Server/Atmos/Monitor/Components/AtmosAlarmableComponent.cs
  Content.Server/Atmos/Monitor/WireActions/AtmosAlarmableAlarmWire.cs
  Content.Server/Power/Components/ApcComponent.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Power/NodeGroups/ApcNet.cs
  Content.Server/Silicons/StationAi/Modules/BlackoutModule.cs
  Content.Server/Silicons/StationAi/Modules/FirelockModule.cs
  Content.Server/Silicons/StationAi/Modules/NukeModule.cs
  Content.Server/Silicons/StationAi/Modules/OverloadModule.cs
  Content.Server/Silicons/StationAi/Modules/OverloadedComponent.cs
  Content.Server/Silicons/StationAi/StationAiSystem.Hacking.cs
  Content.Server/Silicons/StationAi/StationAiSystem.cs
  Content.Shared/Actions/EntityTargetActionComponent.cs
  Content.Shared/Doors/Components/DelayDoorBoltComponent.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.Bolts.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Silicons/StationAi/HackableHUDVisuals.cs
  Content.Shared/Silicons/StationAi/Modules/LockdownModule.cs
  Content.Shared/Silicons/StationAi/Modules/SharedBlackoutModule.cs
  Content.Shared/Silicons/StationAi/Modules/SharedFirelockModule.cs
  Content.Shared/Silicons/StationAi/Modules/SharedNukeModule.cs
  Content.Shared/Silicons/StationAi/Modules/SharedOverloadModule.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Hacking.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Held.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/ShowHackingHUDComponent.cs
  Content.Shared/Silicons/StationAi/StationAiCanHackComponent.cs
  Content.Shared/Silicons/StationAi/StationAiHackableComponent.cs
  Resources/Locale/en-US/silicons/station-ai.ftl
  Resources/Locale/en-US/store/categories.ftl
  Resources/Locale/en-US/store/currency.ftl
  Resources/Locale/en-US/store/station-ai-catalog.ftl
  Resources/Prototypes/Actions/station_ai.yml
  Resources/Prototypes/Catalog/station_ai_catalog.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Store/categories.yml
  Resources/Prototypes/Store/currency.yml
  Resources/Textures/Interface/Actions/actions_ai.rsi/hack.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Shaders, Changes: Audio

#198 APC Hacking & AI Shunting Glue
  Content.Client/Silicons/StationAi/StationAiSystem.Airlock.cs
  Content.Client/Silicons/StationAi/StationAiSystem.Shunting.cs
  Content.Shared/Electrocution/Components/SharedElectrifiedComponent.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Airlock.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Hacking.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Shunting.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/StationAiHackableComponent.cs
  Content.Shared/Silicons/StationAi/StationAiShuntingComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Power/apc.yml
Labels: Changes: Sprites

#202 Announcement sound
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Resources/Audio/Announcements/announce.ogg
Labels: Changes: Audio

#203 Remove succumb delay 2
  Resources/Prototypes/Actions/crit.yml
Labels: Changes: No C#

#216 Trait UI
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/quirks.yml
  Resources/Prototypes/Traits/speech.yml
  Resources/Textures/Interface/Traits/disabilities.rsi/blind.png
  Resources/Textures/Interface/Traits/disabilities.rsi/meta.json
  Resources/Textures/Interface/Traits/disabilities.rsi/muted.png
  Resources/Textures/Interface/Traits/disabilities.rsi/narcolepsy.png
  Resources/Textures/Interface/Traits/disabilities.rsi/paracusia.png
  Resources/Textures/Interface/Traits/disabilities.rsi/poor_vision.png
  Resources/Textures/Interface/Traits/disabilities.rsi/unrevivable.png
  Resources/Textures/Interface/Traits/disabilities.rsi/wheelchair.png
  Resources/Textures/Interface/Traits/quirks.rsi/drunk.png
  Resources/Textures/Interface/Traits/quirks.rsi/meta.json
  Resources/Textures/Interface/Traits/quirks.rsi/pacifist.png
  Resources/Textures/Interface/Traits/quirks.rsi/snoring.png
  Resources/Textures/Interface/Traits/speech.rsi/accentless.png
  Resources/Textures/Interface/Traits/speech.rsi/cowboy.png
  Resources/Textures/Interface/Traits/speech.rsi/french.png
  Resources/Textures/Interface/Traits/speech.rsi/german.png
  Resources/Textures/Interface/Traits/speech.rsi/italian.png
  Resources/Textures/Interface/Traits/speech.rsi/liar.png
  Resources/Textures/Interface/Traits/speech.rsi/lisp.png
  Resources/Textures/Interface/Traits/speech.rsi/meta.json
  Resources/Textures/Interface/Traits/speech.rsi/pirate.png
  Resources/Textures/Interface/Traits/speech.rsi/southern.png
  Resources/Textures/Interface/Traits/speech.rsi/spanish.png
  Resources/Textures/Interface/Traits/speech.rsi/stutter.png
Labels: Changes: Sprites, Changes: UI

#215 Small additions to Mir 12/01/2025
  Resources/Maps/mir.yml
Labels: Changes: Map, Changes: No C#

#219 Ai playtime
  Resources/Prototypes/Roles/requirement_overrides.yml
Labels: Changes: No C#

#220 Closet skele fix
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/wardrobe.yml
  Resources/Prototypes/Entities/Structures/Storage/morgue.yml
  Resources/Prototypes/Roles/Jobs/Fun/closet_skeleton_startinggear.yml
Labels: Changes: No C#

#217 Positive traits
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Roles/JobRequirement/TraitsRequirement.cs
  Content.Shared/Traits/TraitCategoryPrototype.cs
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/speech.yml
Labels: Changes: UI

#222 Med and atmos Rework for map Mir 18/01/2025
  Resources/Maps/Shuttles/emergency_mir.yml
  Resources/Maps/mir.yml
Labels: Changes: Map, Changes: No C#

#224 borg mmi fix
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: No C#

#223 Positive traits 2 - Actually adding them
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml.cs
  Content.Server/SpeciesChat/RandomSpeciesLanguageComponent.cs
  Content.Server/SpeciesChat/RandomSpeciesLanguageSystem.cs
  Content.Server/Traits/Special/AddImplantSpecial.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/SpeciesChat/SpeciesLanguageComponent.cs
  Content.Shared/Traits/TraitPrototype.cs
  Content.Shared/Traits/TraitSpecial.cs
  Resources/Locale/en-US/chat/species.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/quirks.yml
  Resources/Prototypes/Traits/speech.yml
  Resources/Textures/Interface/Traits/quirks.rsi/glowing.png
  Resources/Textures/Interface/Traits/quirks.rsi/meta.json
  Resources/Textures/Interface/Traits/speech.rsi/bilingual.png
  Resources/Textures/Interface/Traits/speech.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#228 Doafter Cog
  Content.Client/DoAfter/DoAfterOverlay.cs
  Resources/Textures/Interface/Misc/progress_bar.rsi/meta.json
  Resources/Textures/Interface/Misc/progress_cog.rsi/cog.png
  Resources/Textures/Interface/Misc/progress_cog.rsi/meta.json
Labels: Changes: Sprites

#229 Tg vents
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_off.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_on.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_purge.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_welded.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_wide.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_in-off.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_in-starting.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_in.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_lockout-off.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_lockout.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_off.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_out-off.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_out-starting.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_out.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_passive.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_welded.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm0.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_b1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_b2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarmp.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarmx.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#230 Fix Air Alarm Glowing
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
Labels: Changes: No C#
