Repository Mira-Sector/space-station-14, pull requests merged in 2025-07, with the labels that each got.

#405 fix mapping for a plushie
  Resources/migration.yml
Labels: Changes: No C#

#407 Damage selector UI Improvements
  Content.Client/Damage/DamageSelector/DamagageSelectorBoundUserInterface.cs
  Content.Client/Damage/DamageSelector/DamagePartSelectorSystem.cs
  Content.Client/Damage/DamageSelector/DamageSelectorMenu.xaml
  Content.Client/Damage/DamageSelector/DamageSelectorMenu.xaml.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Controls/RadialContainer.cs
  Content.Client/UserInterface/Controls/RadialMenu.cs
  Content.Server/Damage/DamageSelector/DamagePartSelectorSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Damage/DamagePartSelector/DamagePartSelectorSystem.cs
  Content.Shared/Damage/DamageSelector/DamagePartAccuracyComponent.cs
  Content.Shared/Damage/DamageSelector/DamagePartAccuracySystem.cs
  Content.Shared/Damage/DamageSelector/DamagePartSelectorComponent.cs
  Content.Shared/Damage/DamageSelector/SharedDamagePartSelectorSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Alerts/limb_health.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Textures/Interface/Alerts/limb_damage.rsi/HeadSelected.png
  Resources/Textures/Interface/Alerts/limb_damage.rsi/LArmSelected.png
  Resources/Textures/Interface/Alerts/limb_damage.rsi/LLegSelected.png
  Resources/Textures/Interface/Alerts/limb_damage.rsi/RArmSelected.png
  Resources/Textures/Interface/Alerts/limb_damage.rsi/RLegSelected.png
  Resources/Textures/Interface/Alerts/limb_damage.rsi/TorsoSelected.png
  Resources/Textures/Interface/Alerts/limb_damage.rsi/meta.json
  Resources/keybinds.yml
Labels: Changes: Sprites, Changes: UI

#409 Floor mat fixes
  Resources/Prototypes/Entities/Objects/Decoration/mat.yml
  Resources/Textures/Objects/Decoration/mat.rsi/inhand-left.png
  Resources/Textures/Objects/Decoration/mat.rsi/inhand-right.png
  Resources/Textures/Objects/Decoration/mat.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#410 Swab Applicator and Synth swab
  Content.Server/Botany/Components/BotanySwabComponent.cs
  Content.Server/Botany/Systems/BotanySwabSystem.cs
  Resources/Locale/en-US/botany/swab.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/disease.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Specific/Hydroponics/swab_applicator.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/swab_applicator.rsi/swab.png
  Resources/Textures/Objects/Specific/Hydroponics/swab_applicator.rsi/swab_applicator-inhand-left.png
  Resources/Textures/Objects/Specific/Hydroponics/swab_applicator.rsi/swab_applicator-inhand-right.png
  Resources/Textures/Objects/Specific/Hydroponics/swab_applicator.rsi/swab_applicator.png
  Resources/Textures/Objects/Specific/Medical/mouth_swab.rsi/icon2.png
  Resources/Textures/Objects/Specific/Medical/mouth_swab.rsi/iconsynth.png
  Resources/Textures/Objects/Specific/Medical/mouth_swab.rsi/meta.json
Labels: Changes: Sprites

#411 re-saved and updated cluster
  Resources/Maps/cluster.yml
Labels: Changes: Map, Changes: No C#

#417 fix syndie codeword generation
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: Changes: No C#

#424 Overall health analyzer fix
  Content.Client/HealthAnalyzer/UI/BaseHealthAnalyzerBodyTab.xaml
  Content.Client/HealthAnalyzer/UI/BaseHealthAnalyzerBodyTab.xaml.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBodyBodyTab.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBodyButton.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBodyOrganTab.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBodyWindow.xaml
Labels: Changes: UI

#428 slimes get a kidney
  Resources/Prototypes/Body/Prototypes/slime.yml
Labels: Changes: No C#
