Repository Mira-Sector/space-station-14, pull requests merged in 2025-03, with the labels that each got.

#264 Cheese nerf
  Resources/Prototypes/Entities/Mobs/NPCs/cheese.yml
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
Labels: Changes: No C#

#265 new poster
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Structures/Wallmounts/mira_posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/mira_posters.rsi/miraposter1_legit.png
Labels: Changes: Sprites, Changes: No C#

#272 Fixing and Tweaking the shittles
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
Labels: Changes: No C#

#274 added abstract = true to basestunbaton
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Changes: No C#

#278 Added a new RoundEnd sound
  Resources/Audio/Announcements/RoundEnd/hardtoexplain.ogg
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: Changes: No C#, Changes: Audio

#280 Ghosts get the appearance of their past body
  Content.Client/Ghost/GhostVisualizerSystem.cs
  Content.Server/Administration/Commands/AGhostCommand.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Ghost/GhostVisualsSystem.cs
  Content.Shared/Ghost/GhostVisualsComponent.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Textures/Mobs/Ghosts/displacement.rsi/hair.png
  Resources/Textures/Mobs/Ghosts/displacement.rsi/meta.json
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/arachnid.png
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/diona.png
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/human.png
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/meta.json
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/moth.png
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/reptilian.png
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/slime.png
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/vox.png
Labels: Changes: Sprites

#281 fix dwarf ghosts
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: Changes: No C#

#284 Add min pop to hostile shuttles
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: Changes: No C#

#285 Health Anylyzer UI
  Content.Client/HealthAnalyzer/UI/BaseHealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/BaseHealthAnalyzerWindow.xaml.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBodyProgressBar.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBodyProgressBar.xaml.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBodyWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBodyWindow.xaml.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBoundUserInterface.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Client/UserInterface/Controls/ProgressTextureRect.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Shared/Body/Part/BodyPart.cs
  Content.Shared/MedicalScanner/HealthAnalyzerBodyComponent.cs
  Resources/Locale/en-US/body/body-scanner/body-scanner-component.ftl
  Resources/Locale/en-US/medical/components/health-analyzer-component.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Textures/Interface/health_analyzer_body.rsi/head-hover.png
  Resources/Textures/Interface/health_analyzer_body.rsi/head.png
  Resources/Textures/Interface/health_analyzer_body.rsi/l_arm-hover.png
  Resources/Textures/Interface/health_analyzer_body.rsi/l_arm.png
  Resources/Textures/Interface/health_analyzer_body.rsi/l_leg-hover.png
  Resources/Textures/Interface/health_analyzer_body.rsi/l_leg.png
  Resources/Textures/Interface/health_analyzer_body.rsi/meta.json
  Resources/Textures/Interface/health_analyzer_body.rsi/progress.png
  Resources/Textures/Interface/health_analyzer_body.rsi/r_arm-hover.png
  Resources/Textures/Interface/health_analyzer_body.rsi/r_arm.png
  Resources/Textures/Interface/health_analyzer_body.rsi/r_leg-hover.png
  Resources/Textures/Interface/health_analyzer_body.rsi/r_leg.png
  Resources/Textures/Interface/health_analyzer_body.rsi/torso-hover.png
  Resources/Textures/Interface/health_analyzer_body.rsi/torso.png
Labels: Changes: Sprites, Changes: UI

#287 Health analyzer fixes
  Content.Client/HealthAnalyzer/UI/BaseHealthAnalyzerWindow.xaml.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBodyWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBodyWindow.xaml.cs
  Content.Shared/Body/Systems/SharedBodySystem.PartThresholds.cs
  Content.Shared/Damage/DamagePartSelector/DamagePartSelectorComponent.cs
  Resources/Textures/Interface/health_analyzer_body.rsi/l_arm-hover.png
  Resources/Textures/Interface/health_analyzer_body.rsi/l_arm.png
  Resources/Textures/Interface/health_analyzer_body.rsi/l_leg-hover.png
  Resources/Textures/Interface/health_analyzer_body.rsi/l_leg.png
  Resources/Textures/Interface/health_analyzer_body.rsi/r_arm-hover.png
  Resources/Textures/Interface/health_analyzer_body.rsi/r_arm.png
  Resources/Textures/Interface/health_analyzer_body.rsi/r_leg-hover.png
  Resources/Textures/Interface/health_analyzer_body.rsi/r_leg.png
Labels: Changes: Sprites, Changes: UI

#286 Helmet armor values match the torso.
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: No C#

#289 Add syndicate riot helmet to uplink.
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: No C#

#298 Add map owners to codeowners
  .github/CODEOWNERS
Labels: Changes: No C#

#303 Changing the shuttles
  Resources/Maps/Shuttles/box_shuttle.yml
  Resources/Maps/Shuttles/meme_shittle.yml
  Resources/Maps/Shuttles/sneak_shittle.yml
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
Labels: Changes: Map, Changes: No C#

#304 Added a medical access freezer for mapping
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: Changes: No C#
