Repository Mira-Sector/space-station-14, pull requests merged in 2025-06, with the labels that each got.

#385 Sparks Can Fly
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Maps/GameMapPrototype.CVars.cs
  Resources/Prototypes/Maps/sparks.yml
Labels: Changes: Map

#395 no invalids pls
  Resources/Prototypes/Entities/Markers/Spawners/Random/crates.yml
Labels: Changes: No C#

#397 Farmable Spaceshrooms
  Resources/Locale/en-US/seeds/seeds.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Misc/spaceshroom.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Textures/Objects/Specific/Hydroponics/spaceshroom.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/spaceshroom.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/spaceshroom.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/spaceshroom.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/spaceshroom.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/spaceshroom.rsi/stage-1.png
  Resources/Textures/Objects/Specific/Hydroponics/spaceshroom.rsi/stage-2.png
  Resources/Textures/Objects/Specific/Hydroponics/spaceshroom.rsi/stage-3.png
Labels: Changes: Sprites, Changes: No C#

#399 Pipe crawling rewrite
  Content.Client/Atmos/Piping/Crawling/PipeCrawlingLayerBoundUserInterface.cs
  Content.Client/Atmos/Piping/Crawling/PipeCrawlingOverlay.cs
  Content.Client/Atmos/Piping/Crawling/PipeCrawlingSystem.cs
  Content.Client/Atmos/Piping/Crawling/PipeCrawlingVisualsComponent.cs
  Content.Server/Atmos/Piping/Crawling/PipeCrawlingPipeBlockComponent.cs
  Content.Server/Atmos/Piping/Crawling/PipeCrawlingPipeSystem.cs
  Content.Server/Atmos/Piping/Crawling/PipeCrawlingSystem.cs
  Content.Server/NodeContainer/Nodes/PipeNode.cs
  Content.Shared/Atmos/EntitySystems/SharedAtmosPipeLayersSystem.cs
  Content.Shared/Atmos/Piping/Crawling/Components/CanEnterPipeCrawlingComponent.cs
  Content.Shared/Atmos/Piping/Crawling/Components/PipeCrawlingAutoPilotComponent.cs
  Content.Shared/Atmos/Piping/Crawling/Components/PipeCrawlingComponent.cs
  Content.Shared/Atmos/Piping/Crawling/Components/PipeCrawlingEnterPointComponent.cs
  Content.Shared/Atmos/Piping/Crawling/Components/PipeCrawlingLayerActionComponent.cs
  Content.Shared/Atmos/Piping/Crawling/Components/PipeCrawlingPipeComponent.cs
  Content.Shared/Atmos/Piping/Crawling/Events/PipeCrawlingEnterDoAfterEvent.cs
  Content.Shared/Atmos/Piping/Crawling/Events/PipeCrawlingLayerActionEvent.cs
  Content.Shared/Atmos/Piping/Crawling/Events/PipeCrawlingLayerBoundUserInterfaceState.cs
  Content.Shared/Atmos/Piping/Crawling/Events/PipeCrawlingLayerRadialMessage.cs
  Content.Shared/Atmos/Piping/Crawling/PipeCrawlingLayerUiKey.cs
  Content.Shared/Atmos/Piping/Crawling/Systems/SharedPipeCrawlingEnterPointSystem.cs
  Content.Shared/Atmos/Piping/Crawling/Systems/SharedPipeCrawlingSystem.Action.cs
  Content.Shared/Atmos/Piping/Crawling/Systems/SharedPipeCrawlingSystem.Auto.cs
  Content.Shared/Atmos/Piping/Crawling/Systems/SharedPipeCrawlingSystem.Entry.cs
  Content.Shared/Atmos/Piping/Crawling/Systems/SharedPipeCrawlingSystem.cs
  Resources/Audio/Effects/Vent/1.ogg
  Resources/Audio/Effects/Vent/2.ogg
  Resources/Audio/Effects/Vent/3.ogg
  Resources/Audio/Effects/Vent/4.ogg
  Resources/Audio/Effects/Vent/attributions.yml
  Resources/Locale/en-US/atmos/pipe-crawling.ftl
  Resources/Maps/omega.yml
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/SoundCollections/vent.yml
  Resources/Textures/Interface/VerbIcons/vent.svg
  Resources/Textures/Interface/VerbIcons/vent.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/vent.svg.192dpi.png.yml
  Resources/Textures/Interface/pipe_layer_names.rsi/meta.json
  Resources/Textures/Interface/pipe_layer_names.rsi/primary.png
  Resources/Textures/Interface/pipe_layer_names.rsi/secondary.png
  Resources/Textures/Interface/pipe_layer_names.rsi/tertiary.png
Labels: Changes: Sprites, Changes: Map, Changes: Audio

#402 Mir Retrofit Galore
  Resources/Maps/mir.yml
Labels: Changes: Map, Changes: No C#

#403 Sustenance Restock box
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_sustenance.png
Labels: Changes: Sprites, Changes: No C#
